*.h5
.DS_Store

# Ignore all subdirectories except data_visualization
/*/
!/data_visualization/
!/low_temp_training/
!/random_training/
!/linear_0.1/

!/al_purely_random_15k/
!/al_random_15k/
!/al_uncertainty_15k/
!/al_wasserstein_hard_15k/
!/al_random_hard_15k/
!/al_uncertainty_hard_15k/

!/experiment_results_6k/
!/experiment_results_100/